*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.fullscreen{
    min-height: 100vh;
    background-attachment: fixed;
}

.pair1{
    background-image: url(Img/Emo\ Emma.png);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    font-size: 44px;
    background-color: white;
    margin: 0%;
    text-transform: uppercase;
}

.pair2{
    background-image: url(Img/Alice\ gaststation.png);
    background-size: cover;
    background-position: center;

}

.pair3{
    background-image: url(/Img/friends.png);
    background-size: cover;
    background-position: center;

}

.textContainer{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
